@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9fbf5;
}

h1 {
  font-family: var(--font-fraunces), serif;
  font-size: 4.2rem;
  letter-spacing: -3px;
  font-weight: 300;
}

p,
li {
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 400;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
